.board-menu-container {
    position: fixed;
    height: 141px;
    width: 100%;
    padding: 1rem 1rem 0rem 1rem;
    padding-top: 60px;
    background: #3C3B3F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    z-index: 3;
}

.board-menu {
   position: fixed;
   z-index: 2;
   background-color: rgba(255,255,255,0.6);
   width: 100%;
   margin-top: 60px;
}

.board-menu .row {
    border-top: 2px whitesmoke solid;
    border-bottom: 2px whitesmoke solid;
}

.board-menu-background {
    position: absolute;
    width: 100%;
    height: 141px;
    z-index: 1;
    
}

.list-container {
   padding-top: 150px;
   z-index: 0;
}

@media (max-width: 576px) { 
    .list-container { 
       padding-top: 200px 
    }
 }

.board-loading {
   padding-top: 75px;
   padding-left: 1rem;
}

.board-control {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media (max-width: 576px) { 
    .board-control { 
        padding-top: 0px;
    }
 }

.board-title {
   display: flex;
   flex-direction: column;
   align-items: left;
   justify-content: center;
   padding-left: 30px;
}

@media (max-width: 576px) { 
    .board-title { 
        align-items: center; 
        padding-top: 5px;
    }
 }

/* .board {
   margin: 0rem 2rem 0rem 2rem;
   border: 1px black solid;
   border-style: groove;
   border-radius: 5px;
}


.board-title h2 {
   align-self: flex-start;
}

.board-title p {
   align-self: flex-start;
}

.board-control {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-end;

   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   -ms-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-align-content: stretch;
   -ms-flex-line-pack: stretch;
   align-content: stretch;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}

.board-control h4 {
   -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
} */
